@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to My First WebApp in .NET 8!</h1>
    <p>This is a simple and customizable .NET 8 WebApp.</p>
</div>
